<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="..\assets\css\footer.css">
</head>

<body>

    <footer class="footer">
        <div class="container">
            <div class="row align-items-center text-center">
                <div class="col-md-4">
                    <h5>Imformation</h5>
                    <p>地址：雲林縣斗六市大學路三段123號</p>
                    <p>Email：dmd19th@gmail.com</p>
                </div>
                <div class="col-md-4">
                    <h5>Follow</h5>
                    <ul class="list-unstyled">
                        <li><a href="https://www.facebook.com/YunDMDcamp">Facebook</a></li>
                        <li><a href="https://www.instagram.com/yuntechdmd_mrmker/">Instagram</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h5>Link</h5>
                    <ul class="list-unstyled">
                        <li><a href="..\pages\index.html">首頁</a></li>
                        <li><a href="..\pages\activities.html">營隊介紹</a></li>
                        <li><a href="..\pages\review.html">活動回顧</a></li>
                        <li><a href="..\pages\contact.html#contact">聯絡我們</a></li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="text-center p-3">
            © 2024 國立雲林科技大學 數位媒體設計系
            數位媒體創意設計營隊
        </div>

    </footer>


</body>

</html>