<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nav-index</title>
    <link rel="stylesheet" href="..\assets\css\nav-index.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light ">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="../assets/images/head_logo.png" alt="Bootstrap" class="img-fluid" width="250" height="100">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="..\pages\index.html">首頁</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            營隊介紹
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="..\pages\characters.html">登場角色</a></li>
                            <li><a class="dropdown-item" href="..\pages\plot.html">劇情內容</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="..\pages\activities.html">特色環節</a></li>
                            <li><a class="dropdown-item" href="..\pages\course.html">技術課程</a></li>
                        </ul>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            視覺成果
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="..\pages\manual.html">營隊手冊</a></li>
                            <li>
                            <li><a class="dropdown-item" href="..\pages\design.html">美術宣傳</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="..\pages\video.html">影像視覺</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            幕後團隊
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="..\pages\department.html">部門總攬</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="..\pages\thank.html">感謝名單</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            活動回顧
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="..\pages\review.html">回顧影片</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="..\pages\review.html#photo">側拍側錄</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            我想報名
                        </a>
                        <ul class="dropdown-menu ">
                            <li><a class="dropdown-item" href="..\pages\contact.html">活動期程</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="..\pages\contact.html#contact">聯絡我們</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</body>

</html>