::-webkit-scrollbar {
    width: 12px;
    /* 滾動條寬度 */
    height: 12px;
    /* 滾動條高度（水平滾動條） */
}

/* 滾動條軌道 */
::-webkit-scrollbar-track {
    background: #222;
    /* 滾動條軌道背景色 */
}

/* 滾動條滑塊 */
::-webkit-scrollbar-thumb {
    background: rgb(197, 43, 48);
    /* 滾動條滑塊背景色 */
    border-radius: 10px;
    /* 滑塊圓角 */
}

/* 滾動條滑塊在懸停時的樣式 */
::-webkit-scrollbar-thumb:hover {
    background: rgb(160, 31, 36);
    /* 滾動條滑塊懸停背景色 */
}

/* 自定義滾動條樣式 */
/* WebKit瀏覽器 */
#photo::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

#photo::-webkit-scrollbar-track {
    background: rgb(160, 31, 36);
    border-radius: 10px;
}

#photo::-webkit-scrollbar-thumb {
    background: rgb(160, 31, 36);
    border-radius: 10px;
}

#photo::-webkit-scrollbar-thumb:hover {
    background: rgb(160, 31, 36);
}


body {
    background: #fff4d9;
    margin: 0;
    font-family: 'Noto Serif TC', serif;
    font-size: 16px;
    color: #fff;
    overflow-x: hidden;
}

#rv_video {
    position: relative;
    height: 60em;
    width: 100%;
    max-width: none;
    background-color: #222;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Serif TC Bold', serif;
    text-align: center;
}

#photo {
    position: relative;
    width: 100%;
    height: 15em;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    overflow-x: scroll;
    /* Enable horizontal scrolling */
    overflow-y: hidden;
    /* Disable vertical scrolling */
    white-space: nowrap;
    /* Prevent line breaks */
    background-color: rgb(160, 31, 36);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start
}

.photo-gallery {
    display: inline-flex;
    /* Use inline-flex to align items horizontally */
}

.photo-gallery img {
    width: 15%;
    /* Maintain aspect ratio */
    margin-right: 10px;
    /* Add some spacing between images */
    border-radius: 5px;
}

.grid-container {
    margin-top: 10px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(143, 27px); /* 設定網格每列有4個方格，每個方格寬度為100px */
    gap: 10px; /* 方格之間的間距 */
  }
  .square {
    width: 100%; /* 方格寬度佔滿其父容器（grid cell）的寬度 */
    padding-top: 70%; /* 使方格成為正方形，高度等於寬度 */
    background-color: #222; /* 方格背景顏色 */
    border-radius: 5px;
  }